body,main{
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    height: 100vh;
    text-align: center;
    width: 100%;
    position: fixed;
}
.header-bg{
    background-image: url('Landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    transition: background-image .1s, filter .5s;
}

.blur{
    filter: blur(1px) brightness(.5);
    transition: .5s;
    
}
.logo{
    margin: 20px;
    z-index: 5;
    left: 20px;
    top: 0px;
    position: absolute;
    transition: top .5s;
}
.logo-offScreen{
    top: -65px;
}

.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 84px;
    background: rgba(255, 255, 255, 0.253);
    z-index: 1;
    font-size: 1.5em;
    display: none;
}
.top-bar h2{
    color: rgb(235, 231, 231);
    line-height: 84px;
    background: rgba(0, 0, 0, 0.541);
    margin-top: 0;
}
#menu-btn{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    padding: 10px;
    right: 20px;
    margin: 10px;
    margin-right: 10px;
    position: absolute;
    z-index: 4;
}
#menu-btn div{
    width: 80%;
    height: 15px;
    margin: 10%;
    background: white;
}
.header-filler{
    height: 35vh;
    background-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0));
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
header h1{
    color: white;
    margin: 30px;
    font-size: 3em;
}
.elconsos-bg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 340px;
    margin: 0 auto;
}
.elconsos-div{
    top: 35vh;
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    transition: .5s;
}
.elconsos-div-offScreen{
    left: -600px;
}

.menu-slide{
    background: rgba(0, 0, 0, 0.712);
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 80px;
    opacity: 0;
}
nav a{
    color: white;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    background: rgba(70, 53, 42, 0.596);
}

#scroll-arrow{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2em;
    width: 100%;
    animation: arrow-slide 3s infinite;
}

@keyframes arrow-slide{
    50%{
        bottom: 20px;
    }
}

/**/

#upper{
    position: relative;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom,rgb(34, 33, 31), rgba(255, 0, 0, 0));
    z-index: 99;
}
#middle{
    height: 100vh;
    visibility: hidden;
}
#lower{
    position: absolute;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0),rgb(31, 29, 27));
    z-index: 99;
}

/*######*/

.main-container{
    text-align: center;
    position: absolute;
    border-radius: 10px;
    top: 226px;
    height: 86%;
    width: 98%;
    margin-left: 5px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0);
    display: flex;
}
.breakfast{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 5;
}
.dish{
    position: relative;
    z-index: 5;
    display: flex;
    margin: 10px;
}
.dish img{
    position: relative;
    border-radius: 5px;
}
.dish div{
    background: rgba(0, 0, 0, 0.514);
    width: 100%;
    color: rgb(226, 227, 235);
    border-radius: 0px 30px 50px;
    margin-left: 20px;
}
