body,main{
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    height: 100vh;
    text-align: center;
    width: 100%;
    position: fixed;
}
.header-bg{
    background-image: url('Landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    transition: background-image .1s;
}
.blur-header-bg{
    filter: blur(3px);
    transition: .5s;
    
}
.logo{
    margin: 20px;
    z-index: 5;
    left: 20px;
    position: absolute;
}
.logo-offScreen{
    top: -70px;
    animation-name: logo-off;
    animation-duration: 1s;
}
@keyframes logo-off{
    0%{
        top: 0px;
    }
    100%{
        top: -70px;
    }
}
.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 84px;
    background: white;
    opacity: .5;
    z-index: 1;
}
#menu-btn{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    padding: 10px;
    right: 20px;
    margin: 10px;
    margin-right: 10px;
    position: absolute;
    z-index: 4;
}
#menu-btn div{
    width: 80%;
    height: 15px;
    margin: 10%;
    background: white;
}
.header-filler{
    height: 35vh;
    background-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0));
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
header h1{
    color: white;
    margin: 30px;
    font-size: 3em;
}
.elconsos-bg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 340px;
    margin: 0 auto;
}
.elconsos-div{
    top: 35vh;
    position: absolute;
    width: 100%;
    height: 300px;
}

.menu-slide{
    background: rgba(0, 0, 0, 0.712);
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 80px;
    opacity: 0;
}
nav a{
    color: white;
    font-size: 1.5em;
    padding: 10px;
    
}
nav a:hover{
    background: rgba(70, 53, 42, 0.596);
}

#scroll-arrow{
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2em;
    width: 100%;
    animation: arrow-slide 3s infinite;
}

@keyframes arrow-slide{
    50%{
        bottom: 20px;
    }
}

/**/

#upper{
    position: relative;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom,rgb(34, 33, 31), rgba(255, 0, 0, 0));
    z-index: 99;
}
#middle{
    height: 100vh;
    visibility: hidden;
}
#lower{
    position: absolute;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0),rgb(31, 29, 27));
    z-index: 99;
}


